.top-connect {
    height: 40vh;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.text-top {
  font-family: "Raleway", "Roboto", "Helvetica", sans-serif;
}

.top-connect span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
